/* --- RESET part of YUI's CSS Foundation --- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,fieldset
b,u,i,center,dl,dt,dd,ol,ul,li,form,label,table,caption,tbody,tfoot,thead,tr,th,td,textarea
	{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	font-size: 100%;
	font-family: arial, helvetica, clean, sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

table,th,td {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
}

q:before,q:after {
	content: '';
}

form,select,input,button,textarea,button {
	margin: 0;
	padding: 0;
	
}

/* --- STANDARD CSS FONT FORMATS --- */
body {
	color: #333;
	font: 12px/1.231 arial, helvetica, clean, sans-serif;
	*font-size: small;
	*font: x-small;
	background: url("../images/img_fd_body_page1.jpg") repeat-x #EDEDED;
	-o-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;

}

input, select, textarea, label
{
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
	display: inline-block;
}

input, select, textarea
{
	border: 1px solid #CCC;
	padding: 0px;
	margin: 0px;
	moz-border-radius:3px;
	o-border-radius:3px;
	webkit-border-radius:3px;
	ms-border-radius:3px;
	border-radius:3px;	
	vertical-align: bottom;
}

input:FOCUS, select:FOCUS, textarea:FOCUS, input:ACTIVE, select:ACTIVE, textarea:ACTIVE  
{
	border: 1px solid #EC6;
	outline: none;
	
	moz-box-shadow:0px 0px 3px rgba(240,200,100,0.8);
	o-box-shadow:0px 0px 3px rgba(240,200,100,0.8);
	webkit-box-shadow:0px 0px 3px rgba(240,200,100,0.8);
	ms-box-shadow:0px 0px 3px rgba(240,200,100,0.8);
	box-shadow:0px 0px 3px rgba(240,200,100,0.8);
}

INPUT[type='radio'],INPUT[type='checkbox'],INPUT[type='image']{
	border: none;
	outline: none;
	moz-box-shadow:none;
	o-box-shadow:none;
	webkit-box-shadow:none;
	ms-box-shadow:none;
	box-shadow:none;
}   

a{
	color: #246;
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

table {
	font-size: inherit;
}

pre,code,kbd,samp,tt {
	font-family: monospace;
}

h1 { /*18px via YUI Fonts CSS foundation*/
	font-size: 20px;
	letter-spacing: -1px;
}

h2,h3 { /*16px via YUI Fonts CSS foundation*/
	font-size: 20px;
}

h4,h5 { /*14px via YUI Fonts CSS foundation*/
	font-size: 20px;
	letter-spacing: -1px;
}

h1,h2,h3,h4,h5 { /* top & bottom margin based on font size */
	padding: 0.5em 0em 0.1em;
	font-weight: normal;
}

abbr,acronym { /*indicating to users that more info is available */
	border-bottom: 1px dashed #000;
	cursor: help;
}

em { /*bringing italics back to the em element*/
	font-style: italic;
}

blockquote { /*giving blockquotes and lists room to breath*/
	margin: 1em;
}

ol,ul,dl { /*bringing lists on to the page with breathing room */
	
}

ol li { /*giving OL's LIs generated numbers*/
	list-style: decimal inside;
}

ul li { /*giving UL's LIs generated disc markers*/
	list-style: disc inside;
}

dl dd { /*giving UL's LIs generated numbers*/
	margin-left: 1em;
}

th { /*distinguishing table headers from data cells*/
	font-weight: bold;
}

hr{
	border: none;
	border-bottom: 1px solid;
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
}

fieldset{
	border: 1px solid #CCC;
	margin: 0px;
	padding: 0px;
}

fieldset legend{
	padding: 0px 5px;
}

caption { /*coordinated marking to match cell's padding*/
	margin-bottom: .5em;
	/*centered so it doesn't blend in to other content*/
	text-align: center;
}

p{margin-bottom: 0.7em;}

small {
	font-size: 11px;
}

.h1_blue, .hb {
	color: #336699;
}

.txIt {
	font-style: italic;
}

.txAzul,a .txAzul {
	color: #336699;
}

.txCinza,a .txCinza {
	color: #999;
}

.txBco,a .txBco {
	color: #FFF;
}

.bgAzul {
	background-color: #336699;
}

.Font100 {
	font-size: 100%;
}

.Font80 {
	font-size: 80%;
}

.tal{text-align: left;}
.tar{text-align: right;}
.tac{text-align: center;}
.taj{text-align: justify;}

.ul{
	border-bottom: 1px solid #CCC;	
}

.uppc {
	text-transform: uppercase;
}

.mpa {
	margin: 5px !important;
}

.mpt {
	margin-top: 5px !important;
}

.mpb {
	margin-bottom: 5px !important;
}

.mpr {
	margin-right: 5px !important;
}

.mpl {
	margin-left: 5px !important;
}

.ma {
	margin: 10px !important;
}

.mt {
	margin-top: 10px !important;
}

.mb {
	margin-bottom: 10px !important;
}

.mr {
	margin-right: 10px !important;
}

.ml {
	margin-left: 10px !important;
}

.mx{
	margin: auto;
}

.pa {
	padding: 10px !important;
}

.pt {
	padding-top: 10px !important;
}

.pb {
	padding-bottom: 10px !important;
}

.pr {
	padding-right: 10px !important;
}

.pl {
	padding-left: 10px !important;
}

.ppa {
	padding: 5px !important;
}

.ppt {
	padding-top: 5px !important;
}

.ppb {
	padding-bottom: 5px !important;
}

.ppr {
	padding-right: 5px !important;
}

.ppl {
	padding-left: 5px !important;
}

.fleft,.fll {
	float: left;
}

.fright,.flr {
	float: right !important;
}

.ttl {
	width: 100%;
}

.mtd {
	width: 354px;
}

.rad3{
	moz-border-radius:3px;
	o-border-radius:3px;
	webkit-border-radius:3px;
	ms-border-radius:3px;
	border-radius:3px;
}

.rad5{
	moz-border-radius:5px;
	o-border-radius:5px;
	webkit-border-radius:5px;
	ms-border-radius:5px;
	border-radius:5px;
}

.rad10{
	moz-border-radius:10px;
	o-border-radius:10px;
	webkit-border-radius:10px;
	ms-border-radius:10px;
	border-radius:10px;
}


/* --- Buttons Styles --- */

.bt_gray, .bt_green, .bt_blue, .bt_red, .disabled{
	position: relative;
	display: inline-block;
	overflow: visible;
	padding: 1px 10px;
	font-size: 12px !important;
	font-weight: bold !important;
	line-height: 15px;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background-color: #CCC;
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	cursor: pointer;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	
	text-decoration: none !important;
	
}

button.disabled, input.disabled, .disabled {
	color:#AAA;
	cursor:auto;
	background: url("../../imagem/HLoop.gif") repeat-x scroll 0px -5px  #F5F5F5;
	border:1px solid #CCC;
	text-shadow:0px 1px 0px #FFF;
	text-decoration: none;
}

button.disabled:hover, button.disabled:focus, a.disabled:hover, a.disabled:focus {
	cursor:auto;
	text-decoration: none;
}

.bt_gray{
	color:#555;
	cursor:pointer;
	border:1px solid #AAA;
	text-shadow:0px 1px 0px #FFF;

	background: #f7f7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #eaeaea 50%, #e0e0e0 51%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(50%,#eaeaea), color-stop(51%,#e0e0e0), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#eaeaea 50%,#e0e0e0 51%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#eaeaea 50%,#e0e0e0 51%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#eaeaea 50%,#e0e0e0 51%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#eaeaea 50%,#e0e0e0 51%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */

}


.bt_gray:HOVER{
	border:1px solid #999;
	
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e7e7e7 51%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e7e7e7), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e7e7e7 51%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e7e7e7 51%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e7e7e7 51%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e7e7e7 51%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-8 */

}


.bt_blue {
	color:#FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	border:1px solid #3d6ca1;
	background: #73abcd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczYWJjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRhODBjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIyNjJiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NzhiYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #73abcd 0%, #4a80c2 50%, #2262bc 51%, #578bc7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73abcd), color-stop(50%,#4a80c2), color-stop(51%,#2262bc), color-stop(100%,#578bc7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #73abcd 0%,#4a80c2 50%,#2262bc 51%,#578bc7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #73abcd 0%,#4a80c2 50%,#2262bc 51%,#578bc7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #73abcd 0%,#4a80c2 50%,#2262bc 51%,#578bc7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #73abcd 0%,#4a80c2 50%,#2262bc 51%,#578bc7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73abcd', endColorstr='#578bc7',GradientType=0 ); /* IE6-8 */

}

.bt_blue:HOVER {
	color:#FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .45);
	border:1px solid #316197;
	background: #5e9ec6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOWVjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNhNmVhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzFjNTA5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjdhYmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5e9ec6 0%, #3a6eae 50%, #1c5098 51%, #3f7abd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e9ec6), color-stop(50%,#3a6eae), color-stop(51%,#1c5098), color-stop(100%,#3f7abd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e9ec6 0%,#3a6eae 50%,#1c5098 51%,#3f7abd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e9ec6 0%,#3a6eae 50%,#1c5098 51%,#3f7abd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e9ec6 0%,#3a6eae 50%,#1c5098 51%,#3f7abd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e9ec6 0%,#3a6eae 50%,#1c5098 51%,#3f7abd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9ec6', endColorstr='#3f7abd',GradientType=0 ); /* IE6-8 */

}

.bt_green {
	color:#FFF;
	cursor:pointer;
	border:1px solid #6A8743;
	text-shadow:0 -1px 0 #336600;
	
	background: #b5c26e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YzI2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYWY0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzc0YTAxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YmJhNGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b5c26e 0%, #8eaf43 50%, #74a01c 51%, #9bba4c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c26e), color-stop(50%,#8eaf43), color-stop(51%,#74a01c), color-stop(100%,#9bba4c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5c26e 0%,#8eaf43 50%,#74a01c 51%,#9bba4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5c26e 0%,#8eaf43 50%,#74a01c 51%,#9bba4c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5c26e 0%,#8eaf43 50%,#74a01c 51%,#9bba4c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b5c26e 0%,#8eaf43 50%,#74a01c 51%,#9bba4c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c26e', endColorstr='#9bba4c',GradientType=0 ); /* IE6-8 */
		
}

.bt_green:HOVER{
	border:1px solid #5A7239;
	cursor: pointer;
	background: #aeb96b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlYjk2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg2YTE0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzZkOTIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2FmNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #aeb96b 0%, #86a147 50%, #6d9222 51%, #93af4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aeb96b), color-stop(50%,#86a147), color-stop(51%,#6d9222), color-stop(100%,#93af4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aeb96b 0%,#86a147 50%,#6d9222 51%,#93af4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aeb96b 0%,#86a147 50%,#6d9222 51%,#93af4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aeb96b 0%,#86a147 50%,#6d9222 51%,#93af4d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aeb96b 0%,#86a147 50%,#6d9222 51%,#93af4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb96b', endColorstr='#93af4d',GradientType=0 ); /* IE6-8 */
		
}

.bt_red {
	color:#FFF;
	cursor:pointer;
	border:1px solid #900;
	text-shadow:0 -1px 0 #900;
	
	background: #df4b5f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmNGI1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q1MmIyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2JjMWQxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYzMxMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #df4b5f 0%, #d52b25 50%, #bc1d12 51%, #dc312e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df4b5f), color-stop(50%,#d52b25), color-stop(51%,#bc1d12), color-stop(100%,#dc312e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #df4b5f 0%,#d52b25 50%,#bc1d12 51%,#dc312e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #df4b5f 0%,#d52b25 50%,#bc1d12 51%,#dc312e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #df4b5f 0%,#d52b25 50%,#bc1d12 51%,#dc312e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #df4b5f 0%,#d52b25 50%,#bc1d12 51%,#dc312e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df4b5f', endColorstr='#dc312e',GradientType=0 ); /* IE6-8 */

}

.bt_red:HOVER{
	
	border:1px solid #336600;
	cursor: pointer;
	border: 1px solid #800;
	
	background: #db394e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiMzk0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M0MjcyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2FkMWIxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMjI3MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #db394e 0%, #c42722 50%, #ad1b11 51%, #d22724 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db394e), color-stop(50%,#c42722), color-stop(51%,#ad1b11), color-stop(100%,#d22724)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db394e 0%,#c42722 50%,#ad1b11 51%,#d22724 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db394e 0%,#c42722 50%,#ad1b11 51%,#d22724 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db394e 0%,#c42722 50%,#ad1b11 51%,#d22724 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #db394e 0%,#c42722 50%,#ad1b11 51%,#d22724 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db394e', endColorstr='#d22724',GradientType=0 ); /* IE6-8 */

}


.bt_g, .bt_grande {
	padding: 2px 20px !important;
	line-height: 18px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bt_wide, .bt_largo{
	padding-left: 30px;
	padding-right: 30px;
}


/*  ALERTS  */
.RedAlert {
	border: 1px solid #CC0000 !important;
	background-color: #FFEBE8 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.YellowAlert{
	border: 1px solid #CC9900 !important;
	background-color: #FFFDEC !important;
}

.BlueAlert {
	border: 1px solid #0066CC !important;
	background-color: #CCF0FF !important;
	font-weight: bold !important;
}

.GreenAlert {
	border: 1px solid #339933 !important;
	background-color: #E6FCE2 !important;
}

/* --- Architecture Setup --- */
#overBox {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: url("../images/bg_modal.png");
}

#overBox .modalWindow {
	background-color: #FFF;
	border: #CCC 6px solid;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	padding: 10px;
	margin: 110px auto;
	width: 400px;
	box-shadow: 0 4px 10px #222;
	-webkit-box-shadow: 0 4px 10px #222;
	-moz-box-shadow: 0 4px 10px #222;
}
#colEsqRecip{
	float: left;
	width: 170px;
	margin: 0;
	padding: 10px 0px 20px 10px;
	text-align: left;
	min-height: 450px;
}

#messageHolder {
	margin: 10px;
	padding: 10px;
}

#overBox  .btClose {
	float: right;
	display: block;
	margin: -23px -30px 0px 0px;
}

.loading_gif{
	padding-left:60px;
	padding-right:10px;
	line-height:10px;
	background: url("../images/loading.gif") center no-repeat;
}

.loadingText {
	font-weight: bold;
	color: #369;
}

.hidden {
	display: none;
}

.wrapper {
	margin: 0px;
	padding: 0px;
}

#header {
	margin: 0 auto;
	overflow: hidden;
}

#header .links_header,#header .links_header a {
	color: #FFF;
	letter-spacing: -1px;
}

.conteudoTotal {
	width: 960px;
	margin: 0 auto;
	position: relative;
	display: block;
	clear: both;
}

#conteudoCorpo {
	min-height: 640px;
	background-color: white;
	
}


.lb_on #colEsq {
	word-wrap: break-word;
	width: 190px;
	position: relative;
	display: block;
	float: left;
}

.lb_on #colCont {
	word-wrap: break-word;
	position: relative;
	display: block;
	margin-left: 190px;
	padding: 0px 5px;
}

.lb_off #colCont{
	word-wrap: break-word;
	position: relative;
	display: block;
	padding-left: 10px;
}

.bgCinza {
	background-color: #F5F5F5;
}

.textoCurso h1,.textoCurso h2,.textoCurso h3,.textoCurso h4,.textoCurso h5,.textoCurso h6
{
	font-weight: bold;
}

.textoCurso {
	font-size: 12px;
}

.textoCurso ul {
	margin-left: 10px;
}

.textoCurso p {
	padding: 0px 0px 8px;
	text-align: justify;
}

#frameset {
	margin: 0px;
	padding: 0px;
}

#footer {
	background: url(../images/img_fd_botton1.jpg) repeat-x #22407E;
	width: 100%;
}

.clearfix {
	zoom: 1;
}

.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.hpg {
	border-bottom: 1px solid #EEE;
	color: #999;
	letter-spacing: -1px;
	*margin-bottom: 1px;
}

.hpg a {
	color: #999;
	text-decoration: none;
}

.hpg a:HOVER {
	color: #777;
}

.hCursos {
	letter-spacing: -1px;
	font-weight: bold;
}

.listaCatCuros {
	display: inline-block;
	*display: inline;
	*float: left;
}

.listaCatCuros li {
	list-style: none;
}

.listaCuros {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	letter-spacing: -1px;
}

.listaCuros li {
	list-style: none;
	margin-bottom: 5px;
}

.h3_rodape {
	font-size: 12px;
	font-weight: bold;
	color: #94CFF7;
	line-height: 25px;
}

#footer a {
	color: white;
}

.FTcopy {
	font-size: 10px;
	font-weight: normal;
	color: white;
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #FFF;
	padding: 10px 0px 20px;
}

/* --- Styles Header --- */
.hTitle {
	letter-spacing: -1px;
	padding: 8px 5px;
	color: #369;
	border-bottom: 3px solid #369;
}

.txtCinzaBox {
	padding: 5px 10px;
	color: #555;
	font-size: 17px;
}

/* --- Form Style --- */
.FormHeader {
	color: #FFF;
	background-color: #9EB3BD;
	border: 1px solid #9EB3BD;
	margin: 0px;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 17pt;
	letter-spacing: -1px;
	padding: 5px 10px;
}

.FormList {
	background: #FFF;
	border: 1px solid #A1B2C4;
	border-top: none;
	padding: 15px 0px 10px;
	margin: 0px;
}

.FormList li {
	list-style: none;
	padding: 0px 15px 5px;
}

.FormList li label {
	width: 100px;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	display: inline-table;
}

.FormList input,.FormList textarea {
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #AAA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 24px;
	background-color: #F5F5F5;
	height: 24px;
	padding: 0px 3px;
}

.FormList input:disabled,.FormList textarea:disabled {
	color: #AAA;
}

.FormList input[type="radio"],.FormList input[type="checkbox"] {
	vertical-align: middle;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: none;
	height: auto;
	line-height: inherit;
}

/* --- Edited Select --- */
.FormList .toSelect {
	padding: 0px;
	margin: 0px;
	margin-right: -23px;
	float: left;
}

.FormList .toSelectInput {
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #AAA;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	height: 24px;
	line-height: 24px;
	text-align: left;
	font-size: 14px;
	background-color: #F5F5F5;
	margin-right: 23px;
	padding: 0px 3px;
}

.FormList .toSelectBt {
	padding: 0px;
	margin-right: 0px;
	background: url("../images/select_bt.gif") no-repeat center #EEE;
	border: none;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	height: 26px;
	width: 21px;
	float: left;
}

.FormList .OptionGroup {
	margin: 0px;
	padding: 0px;
	background-color: #F5F5F5;
	border: 1px solid #AAA;
	border-top: 0px;
	display: none;
	width: 100%;
	position: absolute;
	max-height: 260px;
	overflow: auto;
}

.FormList .OptionGroup li {
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	font-family: Verdana, Arial, sans-serif;
}

.FormList .OptionGroup li a,.FormList .OptionGroup li a:active,.FormList .OptionGroup li a:visited
	{
	display: block;
	background-color: #F5F5F5;
	text-decoration: none;
	padding: 0px 3px;
}

.FormList .OptionGroup li a:hover {
	background-color: #369;
	color: #FFF;
}

.FormList .blockItem {
	text-align: center;
	display: inline-table;
	margin: 0px;
	margin-right: 10px;
}

.FormList .blockItem label {
	display: inline;
	width: auto;
	padding: 0;
	height: 24px;
	line-height: 24px;
	letter-spacing: -1px;
	margin: 0 auto;
}

.InlineBox {
	border: 1px solid #AAA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F5F5F5;
	padding: 1px 10px 0px;
	margin-bottom: 3px;
	display: block;
	line-height: 24px;
	height: 24px;
	width: auto;
}

.FormList .InlineBox label {
	line-height: 24px;
	height: 24px;
	vertical-align: baseline;
}

.submitHolder {
	margin-top: 10px;
}

.FormList .blockItem select {
	float: left;
}

.FormList .inputCPF {
	width: 180px;
}

.FormList .inputNome {
	width: 580px;
}

.FormList .inputEmail {
	width: 280px;
}

.FormList .inputRG {
	width: 180px;
}

.FormList .inputUF {
	width: 100px;
}

.FormList .inputOrgaoEmissor {
	width: 100px;
}

.FormList .inputDataEmissao {
	width: 150px;
}

.FormList .inputDataNasc {
	width: 120px;
}

.FormList .inputDataNascimento {
	width: 120px;
}

.FormList .inputEstadoCivil {
	width: 120px;
}

.FormList .inputSexo {
	width: 120px;
}

.FormList .inputCorRaca {
	width: 120px;
}

/**/
.lsInfoCurso {
	margin: 0px 10px;
}

.lsInfoCurso li {
	list-style: none;
	list-style-position: outside;
	border-bottom: 1px solid #EEE;
	padding: 5px 0px;
}

ul.tabsHeaders {
	display: block;
	font: 16px/1.153em "Lucida Sans Unicode", "Segoe UI", Tahoma, Helvetica,
		Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 27px;
	padding-left: 1px;
	margin-top: 15px;
}

ul.tabsHeaders li {
	list-style: none;
	list-style-position: outside;
	text-decoration: none;
	letter-spacing: -1px;
	padding: 0px 10px;
	margin-left: -1px;
	margin-top: 2px;
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	vertical-align: text-bottom;
	color: #555;
	cursor: pointer;
}

ul.tabsHeaders li.active {
	border: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
	background-color: #FFF;
	height: 26px;
	line-height: 26px;
	margin-top: 0px;
	mz-border-radius: 5px 5px 0px 0px;
	webkit-border-radius: 5px 5px 0px 0px;
	o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	color: #A00;
	font-weight: bold;
	webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1);
	moz-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1);
	o-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1);
}

.tabsHeaders li:hover {
	
}

div.tabsContents {
	border: 1px solid #CCC;
	display: block;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
	padding-left: 1px;
	mz-border-radius: 0px 6px 6px 6px;
	webkit-border-radius: 0px 6px 6px 6px;
	o-border-radius: 0px 6px 6px 6px;
	border-radius: 0px 6px 6px 6px;
	webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

div.tabsContents div {
	display: none;
	padding: 10px;
	list-style: none;
	list-style-position: outside;
}

#tabs Table {
	
}

#tabs Table tr:nth-child(odd) {
	background-color: #F5F5F5;
}

#tabs h1,#tabs h2,#tabs h3,#tabs h4 {
	color: #A00;
	padding: 8px 0px 5px;
}

#tabs Table th {
	padding: 10px 3px 5px;
	border-bottom: 2px solid #CCC;
	background-color: #FFF;
}

#tabs Table td {
	padding: 2px 3px;
}

#tabs .bdr tbody td {
	border: 1px solid #DDD;
	border-collapse: collapse;
}

.tabsContents Table p {
	margin: 0px;
	padding: 0px;
}


#formGP {
	padding: 0px 20px 0px 0px;
	text-align: right;
}

#formGP label {
	color: white;
	line-height: 25px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#formGP label input {
	width: 120px;
	text-transform: none;
	letter-spacing: normal;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
}

button.aBtBco,input.aBtBco,.aBtBco {
	border: none;
	vertical-align: middle;
	color: #FFF;
	cursor: pointer;
	background-color: transparent;
	font-size: 12px;
}

button.aBtBco:hover,button.aBtBco:focus,a.aBtBco:hover,a.aBtBco:focus {
	cursor: pointer;
	text-decoration: underline;
}

.contentBox li {
	padding: 0px 0px 5px 0px;
	text-indent: 10px;
}

.contentBox h1,.contentBox h2,.contentBox h3 {
	color: #369;
}

.pgLabel img {
	padding: 0px 10px 5px 0px;
}


.hd_z{
	text-shadow: 0px 1px 0px #F5F5F5;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
	
}


.cx_r {
	border: 1px solid #CC0000 !important;
	background-color: #FFEBE8 !important;
}

.cx_z {
	border: 1px solid #CCC !important;
	background-color: #F5F5F5 !important;
}

.cx_y {
	border: 1px solid #F0C36D !important;
	background-color: #FFFAE2 !important;
}

.cx_b {
	border: 1px solid #A6C2DC !important;
	background-color: #F0F6FF !important;
}

.cx_g {
	border: 1px solid #339933 !important;
	background-color: #E6FCE2 !important;
}

.cx_w {
	border: 1px solid #CCC !important;
	background-color: #FFF !important;
}

.ico_ok_g{
	line-height:32px;
	background: url("../images/Ok.png") center left no-repeat;
	text-indent: 40px;
	vertical-align: text-top;
}





.ouvidoria p{
	font-size: 12px;
}

.form_ouvidoria {
	font-size: 11px;
}

input.error, select.error, textarea.error{
	border-color: #C00 !important;
}

input.valid, select.valid, textarea.valid{
	border-color: #CCC !important;
}

form label.error{
	color:#C00;	
	line-height: 1.2em !important;
	vertical-align: top;
}

form .sub_aluno label.error{
	color:#C00;	
	line-height: 1.2em !important;
	display: block;
}

#LoginBlock {
	border: 5px solid #EEE;
	width: 300px;
	padding: 15px;
	margin: 15px auto;
	background-color: #FAFAFA;
	
	o-box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
	webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
	moz-box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
	ms-box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
	
	border-radius: 10px;
}

#LoginBlock .form_login{
	text-align: right;
	background-color: #F5F5F5;
	border: solid 1px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 0px;
}
#LoginBlock .form_login label{
	color: #555;
	line-height: 28px;
	font-weight: bold;
	font-size: 13px;
}

#LoginBlock .form_login input{
	margin-right: 35px;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0;
	-moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
	box-shadow: inset 0 1px 0 #EEE,white 0 1px 0;
	padding: 4px;
	height: 20px;
}

#LoginBlock .form_login input:FOCUS{
	border: 1px solid #AAA;
}

ul.toolbar {
	display: inline-block;
	margin: 0px;
}

ul.toolbar + ul{
	padding-left: 1px !important;
}

ul.toolbar li{
	float: left;
	list-style: none;
	vertical-align: text-bottom;
	margin-left: -1px;
}

ul.toolbar li:FIRST-CHILD{
	margin-left: 0px;
}

ul.toolbar li a, ul.toolbar li .bt{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	cursor:pointer;
	border: 1px solid gainsboro;
	
	font: bold 12px/23px Arial, helvetica, sans-serif;
	
	text-shadow:0px 1px 0px w;
	
	height: 23px;
		
	background: #EEE; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

	color: #444;
}

ul.toolbar li a:HOVER, ul.toolbar li .bt:HOVER{
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
	
	o-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	ms-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	
}

ul.toolbar li:FIRST-CHILD a, ul.toolbar li:FIRST-CHILD .bt{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}

ul.toolbar li:LAST-CHILD a, ul.toolbar li:LAST-CHILD .bt{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

#sis_ctr {
	height: 20px;
	line-height: 20px;
}

.sis_ctr{
	
	border-bottom:1px solid #AAA;
	
	padding: 5px 0px;
	
	text-shadow: 0px 1px 0px #F5F5F5;
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
	
}

#usr_menu{
	width: 180px;
	background-color: #EEE;
}

.v_menu{
	
}


.inv{
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
	cursor: pointer;
	position: absolute;
}

.bt_attach {
	width: 129px;
	height: 42px;
	background:url(Path da imagem do botao) top no-repeat;
	line-height: 42px;
	padding: 0;
	border: 0;
	outline: none;
}




.cpa_options input[type="radio"]{
	margin-right: 2px;
	margin/*\**/: 0px 3px 2px 0px\9;
	vertical-align: baseline;
	vertical-align/*\**/: middle\9;
	line-height: 18px;
}

.cpa_options label{
	
	font-weight:bold;
	line-height: 1em;
	vertical-align:text-top;
	
	border: 1px solid #FFF;

	padding:2px 0px;
	text-indent: 5px;
	
	width: 100%;
	
	
	cursor: pointer;
	
	moz-border-radius:5px;
	o-border-radius:5px;
	webkit-border-radius:5px;
	ms-border-radius:5px;
	border-radius:5px;
}

.cpa_options label:hover{
	border: 1px solid #DDD;
	background-color: #F5F5F5;
}



.progressbar{
	width: 300px;
	padding: 10px;
	border: 1px solid #FFF;
	background-color: #F5F5F5;,
	
	-ms-box-shadow: 	0 1px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 	0 1px 5px rgba(0,0,0,0.3);
	-o-box-shadow: 		0 1px 5px rgba(0,0,0,0.3);
	box-shadow: 		0 1px 5px rgba(0,0,0,0.3);
	
	*border: 1px solid #CCCCCC;
	border/*\**/: 1px solid #CCCCCC\9;
	
}

.progressbar .pb_box{
	height: 18px;
	border: 1px solid #AAA;
	overflow:hidden;
	
	background: #aaaaaa; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aaaaaa 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aaaaaa 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */

}

.progressbar .pb_box .pb_level{
	width:100%;
	height: 18px;
	display:block;
	
	border-right:1px solid #DfF2575;
	
	background: #bfd255; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */

}

.progressbar .pb_box .pb_label{
	height: 18px;
	line-height: 18px;
	position: absolute;
	width: 300px;
	color:white;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
	text-align: center;
}

#MenuNew h3{
	margin:0px;
	padding: 6px; 
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #CCC !important;
	border-bottom: 1px solid #AAA !important;
}

#MenuNew h3 a{
	color: #333;
	text-decoration: none;
}

#MenuNew ul{
	margin: 0;
	padding: 0;
	border: 1px solid #DDD;
	border-bottom: 0px solid #CCC;
	margin-bottom: 5px;
	text-align:left;
}
#MenuNew ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight:bold;
	text-align:left;
}
#MenuNew ul li a{
	font-size: 12px;
	color: #036;
	text-decoration: none;
	text-align:left;
	display: block;
	padding: 5px;
	border-bottom: 1px solid #DDD;
	background-color: #F5F5F5;
}
#MenuNew ul li a:hover{
	background-color: #FFF;
	border-left: 0px;
	border-right: 0px;
}

.modernTable {
	text-align: left;
	margin-bottom: 15px;
	color: #444;
	border-collapse: collapse;
}

.modernTable tr {
	margin: 0;
	padding: 0;
}

.modernTable thead th {
	margin: 0;
	padding: 8px;
	border: 1px solid #CCC;
	text-align: center;
	font-size: 12px;
}

.modernTable tbody th {
	margin: 0;
	padding: 5px;
	font-weight: normal;
	background-color: #EBF0F1;
	border-bottom: 1px solid #DDD;
}

.modernTable td {
	margin: 0px;
	padding: 2px 5px;
	border: 1px solid #DDD;
	height: 20px;
	line-height: 18px;
}


.tblZebra tbody tr:odd th {
	background-color: #E1E8EB;
}

.tblZebra tr:nth-child(odd) {
	background-color: #F5F5F5;
}